# Logistic Regression in SciKit Learn - Lab

## Introduction 

In this lab, we are going to fit a logistic regression model to a dataset concerning heart disease. Whether or not a patient has heart disease is indicated in the final column labelled 'target'. 1 is for positive for heart disease while 0 indicates no heart disease.

## Objectives
You will be able to:

* Understand and implement logistic regression
* Compare testing and training errors

## Let's get started!

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
#Starter Code
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Define appropriate X and y
Recall the dataset is whether or not a patient has heart disease and is indicated in the final column labelled 'target'. With that, define appropriate X and y in order to model whether or not a patient has heart disease.

In [4]:
#Your code here 
X = df[df.columns[:-1]]
y = df.target
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

## Normalize the Data
Normalize the data prior to fitting the model.

In [9]:
X=X.fillna(value=0)
for col in X.columns:
    X[col] = (X[col] - min(X[col])) / max(X[col]) - min(X[col])
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,-28.558442,1.0,1.000000,-93.745,-125.810284,1.0,0.0,-70.608911,0.0,0.370968,0.0,0.0,0.333333
1,-28.896104,1.0,0.666667,-93.820,-125.780142,0.0,0.5,-70.425743,0.0,0.564516,0.0,0.0,0.666667
2,-28.844156,0.0,0.333333,-93.820,-125.861702,0.0,0.0,-70.500000,0.0,0.225806,1.0,0.0,0.666667
3,-28.649351,1.0,0.333333,-93.870,-125.804965,0.0,0.5,-70.470297,0.0,0.129032,1.0,0.0,0.666667
4,-28.636364,0.0,0.000000,-93.870,-125.595745,0.0,0.5,-70.544554,1.0,0.096774,1.0,0.0,0.666667

## Train Test Split
Split the data into train and test sets.

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

## Fit a model
Fit an intial model to the training set. In SciKit Learn you do this by first creating an instance of the regression class. From there, then use the **fit** method from your class instance to fit a model to the training data.

In [ ]:
logreg = LogisticRegression(fit_intercept = False, C = 1e12) #Starter code
#Your code here

## Predict
Generate predictions for the train and test sets. Use the **predict** method from the logreg object.

In [ ]:
#Your code here

## Initial Evaluation
How many times was the classifier correct for the training set?

In [ ]:
#Your code here

## How many times was the classifier correct for the test set?

In [ ]:
#Your code here

## Analysis
Describe how well you think this initial model is based on the train and test performance. Within your description, make note of how you evaluated perforamnce as compared to our previous work with regression.

In [ ]:
#Your answer here

## Summary

In this lab, you practiced a standard data science pipeline, importing data, splitting into train and test sets and fitting a logistic regression model. In the upcoming labs and lessons, we'll continue to investigate how to analyze and tune these models for various scenarios.